Source: astunparse-aiandit
Section: misc
Priority: optional
Maintainer: Johannes Willkomm <j.willkomm@fionec.de>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all, python3-build, python3-setuptools
Standards-Version: 4.5.1
Homepage: https://ai-and-it.de/
Rules-Requires-Root: no

Package: python3-astunparse-aiandit
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3
Description: AST unparser for Python
 Output python compiler parser trees (AST) in Python. Can also be used
 to traverse and process ASTs
